<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>conversationUsername</key>
    <string>93ae2198-00da-4d64-a771-2e6c3e216ec7</string>
    <key>conversationPassword</key>
    <string>1G6FKUe3rYif</string>
    <key>conversationUrl</key>
    <string>https://gateway.watsonplatform.net/conversation/api</string>
    <key>appName</key>
    <string>IATAblumareks</string></dict>
</plist>
